* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    display: grid;
    place-items: center;
}

button {
    cursor: pointer;
}

.rating-state,
.thank-you-state {
    background-image: linear-gradient(to top, hsl(212, 18%, 14%), hsl(212, 18%, 14%));
    border-radius: 1.5rem;
    color: white;
    padding: 2.5rem 2rem;
    width: 25rem;

    display: grid;
    gap: 1rem;
}

.icon-star {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    padding: 1rem;
}

.rating-state h2,
.thank-you-state h2 {
    font-size: 2rem;
    line-height: 1;
    margin-top: 1rem;
}

.rating-state p,
.thank-you-state h2 + p {
    color: hsl(217, 12%, 63%);
    margin-bottom: .5rem;
}

.group-btn-rating {
    display: flex;
    justify-content: space-between;
}

.btn-rating {
    border: none;
    background-color: #242E36;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    font: 400 1rem "Overpass", sans-serif;
    transition: background 300ms;
}

.hover:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    border-radius: 1.5rem;
    border: none;
    color: white;
    font: 400 1.1rem "Overpass", sans-serif;
    text-transform: uppercase;
    letter-spacing: .2rem;

    padding: .5rem 1rem;
    margin-top: 1rem;
    transition: background 300ms;
}

.btn-submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.btn-rating-clicked {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.thank-you-state {
    display: none;
    text-align: center;
}

.thank-you-state h2 + p {
    margin: .7rem 0;
}

.thank-you-state-box {
    display: grid;
    place-items: center;
    gap: 2rem;
}

.selected-rating {
    color: hsl(25, 97%, 53%);
    background-color: #242E36;
    padding: .5rem;
    border-radius: 2rem;
    width: 60%;
    margin-bottom: 1rem;
}