* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    display: grid;
    place-items: center;
}

.rating-state-start {
    padding: 1rem;
    background: radial-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
}